modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.mjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_PRIVY_APP_ID = "cmnysfvqe00ff0cjmh15ba116"
VOCDONI_ENV = "prod"
PINATA_GATEWAY = "teal-advisory-zebra-284.mypinata.cloud"

[userenv.production]
ORCID_REDIRECT_URI = "https://thepolyp.xyz/api/auth/orcid/callback"

[userenv.development]
ORCID_REDIRECT_URI = "https://8485d33b-dfb1-4674-a90f-db10b4e44703-00-1l62qtgzb0qn1.kirk.replit.dev/api/auth/orcid/callback"

[agent]
integrations = ["github:1.0.0"]
